@import "tailwindcss";


@import '@fontsource/barlow-condensed/700';
@import '@fontsource/barlow-condensed/400';


@theme {
  --color-background: #232323;
  --color-yellow: #F8F400;
  --color-red: #FF0B37;

  --color-primary: var(--color-yellow);
  --color-accent: var(--color-red)
}


html,
body {
	margin: 0; width: 100%;
	height: 100%;
}

body {
  background-color: var(--color-background);
  font-family: 'Barlow Condensed' , 'sans-serif';
}


  @keyframes gradient-animation {
    0% { background-position: 0% 0%; }
    100% { background-position: 00% 200%; }
  }

  .animate-gradient-flow {
     animation: gradient-animation 3s linear infinite;
     background-size: 200% 200%; /* Important for smooth movement */
    }
