---
import Logo from "../components/Logo.astro"
import Menu from "../components/Menu.astro"
---
<header class="fixed z-50 w-full flex justify-between p-8" transition:animate="none" >
  <a href="/">
    <Logo /> 
   </a>
  <Menu />
</header>
