---
import Logo from "../components/Logo.astro";
import Menu from "../components/Menu.astro";
---

<header
  transition:persist
  id="site-header"
  class="absolute z-50 flex justify-between p-4 bg-background/50 top-6 right-6 left-6 rounded-sm"
  transition:animate="none"
>
  <a
    href="/"
    aria-label="Go to home page"
    class="text-logo hover:scale-105 active:scale-95 active:text-accent transition"
  >
    <Logo />
  </a>
  <Menu />
</header>

<script>
  const header = document.getElementById("site-header");
  const stickyOffset = header?.offsetTop;
  const scrollThreshold = 18;
  function handleScroll() {
    if (stickyOffset && window.pageYOffset > scrollThreshold) {
      header?.classList.remove("absolute", "top-6");
      header?.classList.add("fixed", "top-2");
    } else {
      header?.classList.remove("fixed", "top-2");
      header?.classList.add("absolute", "top-6");
    }
  }
  window.addEventListener("scroll", handleScroll);
</script>
