---
import { Image } from 'astro:assets';
import featuredImage from "../assets/images/cubes-building.webp"
---
<section class="p-4 h-screen">
  <div class="bg-gray-700  rounded-sm w-full h-full flex flex-col justify-end p-8 relative overflow-hidden">
    <div class=" w-full h-full absolute left-0 top-0 bg-linear-to-b from-black via-background to-black  animate-gradient-flow flex justify-center items-center">
          <Image src={featuredImage} alt="Featured Image" class="w-full h-full absolute t-0 l-0 object-cover z-0 text-center text-accent"  />
    </div>
    <h1 class="text-yellow font-extrabold uppercase text-5xl md:text-6xl text-center w-full relative z-10 [&_b]:text-accent">3D Render <b>&</b> Motion</h1>
  </div>
</section>
