---
import { Icon } from "astro-icon/components";

const socialLinksList = [
  { name: "instagram", link: "https://instagram.com/thiiz_3d" },
  { name: "behance", link: "https://www.behance.net/thigrand" }
];
---

<Fragment>
  {
    socialLinksList.map((link) => (
      <a
        href={link.link}
        class="text-foreground hover:text-primary active:text-accent transition"
        target="_blank"
        aria-label={`Visit the ${link.name} profile`}
      >
        <Icon name={link.name} size={30} />
      </a>
    ))
  }
</Fragment>
