---
import "../styles/global.css"
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import type { CollectionEntry } from 'astro:content';
import { ClientRouter } from "astro:transitions"

type Props = CollectionEntry<'posts'>['data'];

const { title, heroImage } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Thiiz - 3D render & motion</title>
    <ClientRouter />
	</head>
	<body>
    <Header />
    {!!heroImage && <Hero title={title} image={heroImage} intent="page" />}
    <main class="p-4 w-full flex flex-col items-center gap-4">
      <section class="max-w-4xl text-white text-lg flex flex-col items-center gap-4 [&_strong]:text-primary">
	      <slot />
      </section>
    </main>
	</body>
</html>
