---
import "../styles/global.css";
import BaseHead from "./BaseHead.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import type { CollectionEntry } from "astro:content";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"posts">["data"];

const { title, description, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} />
  <body class="bg-background">
    <Header />
    {!!heroImage && <Hero image={heroImage} intent="post" />}
    <main class="p-4 w-full flex flex-col items-center gap-4">
      <h1
        class="max-w-4xl text-primary font-extrabold uppercase text-2xl md:text-3xl w-full relative z-10 [&_b]:text-accent"
      >
        {title}
      </h1>
      <section
        class="max-w-4xl text-foreground text-lg flex flex-col gap-4 [&_strong]:text-primary"
      >
        <slot />
      </section>
    </main>
    <Footer />
  </body>
</html>
